.nav-dropdown {
    position: relative;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 15rem; /* 60 in Tailwind = 15rem */
    background-color: #374151; /* Tailwind's gray-700 */
    border-radius: 0.375rem;
    padding: 0.5rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 40;
  }
  
  .nav-dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
  }
  
  .dropdown-menu li a {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .dropdown-menu li a:hover {
    background-color: #4b5563; /* Tailwind's gray-600 */
  }
  
  .home{
    cursor: pointer;
  }